<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>lat</key>
		<real>47.444195</real>
		<key>long</key>
		<real>-0.552242</real>
		<key>no</key>
		<integer>1</integer>
		<key>title</key>
		<string>Roseraie</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>47.444484</real>
		<key>long</key>
		<real>-0.5625019999999999</real>
		<key>no</key>
		<integer>2</integer>
		<key>title</key>
		<string>Jean Vilar</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>47.448838</real>
		<key>long</key>
		<real>-0.5627799999999999</real>
		<key>no</key>
		<integer>3</integer>
		<key>title</key>
		<string>Jean XIII</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>47.448838</real>
		<key>long</key>
		<real>-0.556575</real>
		<key>no</key>
		<integer>4</integer>
		<key>title</key>
		<string>Bamako</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>47.457222</real>
		<key>long</key>
		<real>-0.554028</real>
		<key>no</key>
		<integer>5</integer>
		<key>title</key>
		<string>Strasbourg</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>47.460897</real>
		<key>long</key>
		<real>-0.5546720000000001</real>
		<key>no</key>
		<integer>6</integer>
		<key>title</key>
		<string>Place La Fayette</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>47.464515</real>
		<key>long</key>
		<real>-0.555546</real>
		<key>no</key>
		<integer>7</integer>
		<key>title</key>
		<string>Les Gares</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>47.466782</real>
		<key>long</key>
		<real>-0.552627</real>
		<key>no</key>
		<integer>8</integer>
		<key>title</key>
		<string>Foch-Haras</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>47.468902</real>
		<key>long</key>
		<real>-0.549594</real>
		<key>no</key>
		<integer>9</integer>
		<key>title</key>
		<string>Foch-Maison Bleue</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>47.471133</real>
		<key>long</key>
		<real>-0.551592</real>
		<key>no</key>
		<integer>10</integer>
		<key>title</key>
		<string>Ralliement</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>47.474286</real>
		<key>long</key>
		<real>-0.554796</real>
		<key>no</key>
		<integer>11</integer>
		<key>title</key>
		<string>Place Molière</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>47.477077</real>
		<key>long</key>
		<real>-0.550768</real>
		<key>no</key>
		<integer>12</integer>
		<key>title</key>
		<string>Saint-Serge - Université</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>47.479686</real>
		<key>long</key>
		<real>-0.550036</real>
		<key>no</key>
		<integer>13</integer>
		<key>title</key>
		<string>Berges de Maine</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>47.481413</real>
		<key>long</key>
		<real>-0.55401</real>
		<key>no</key>
		<integer>14</integer>
		<key>title</key>
		<string>CHU Hôpital</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>47.486598</real>
		<key>long</key>
		<real>-0.555254</real>
		<key>no</key>
		<integer>15</integer>
		<key>title</key>
		<string>Capucins</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>47.490551</real>
		<key>long</key>
		<real>-0.552072</real>
		<key>no</key>
		<integer>16</integer>
		<key>title</key>
		<string>Jean Moulin</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>47.492137</real>
		<key>long</key>
		<real>-0.560744</real>
		<key>no</key>
		<integer>17</integer>
		<key>title</key>
		<string>Hauts de Saint-Aubin</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>47.492535</real>
		<key>long</key>
		<real>-0.566951</real>
		<key>no</key>
		<integer>18</integer>
		<key>title</key>
		<string>Verneau</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>47.494297</real>
		<key>long</key>
		<real>-0.574783</real>
		<key>no</key>
		<integer>18</integer>
		<key>title</key>
		<string>Terra Botanica</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>47.495873</real>
		<key>long</key>
		<real>-0.580159</real>
		<key>no</key>
		<integer>18</integer>
		<key>title</key>
		<string>Plateau Mayenne</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>47.499727</real>
		<key>long</key>
		<real>-0.583155</real>
		<key>no</key>
		<integer>18</integer>
		<key>title</key>
		<string>Bois du Roy</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>47.503032</real>
		<key>long</key>
		<real>-0.585825</real>
		<key>no</key>
		<integer>18</integer>
		<key>title</key>
		<string>Acacias</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>47.505944</real>
		<key>long</key>
		<real>-0.588706</real>
		<key>no</key>
		<integer>18</integer>
		<key>title</key>
		<string>Saint-Gilles</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>47.508702</real>
		<key>long</key>
		<real>-0.5915049999999999</real>
		<key>no</key>
		<integer>18</integer>
		<key>title</key>
		<string>Bascule</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>47.512249</real>
		<key>long</key>
		<real>-0.597109</real>
		<key>no</key>
		<integer>18</integer>
		<key>title</key>
		<string>Avrillé-Ardenne</string>
	</dict>
</array>
</plist>
